/*================================================*\
*  Author : Attaphon Wongbuatong
*  Created Date : 05/12/2013 09:09
*  Module : Style
*  Description : Backoffice Style sheet
*  Involve People : MangEak
*  Last Updated : 05/12/2013 09:09
\*================================================*/
@charset "utf-8";

.colorblue{color:blue;}
.label-info th{color:white;}

.img-photo{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 5px 5px 5px #888888; border:#333333 10px solid; margin:auto;}